ul{ list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #202020;
}
li{
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active){
	background-color: white;
	color: #ce5cc8;
}
.active{
	background-color:#fa2069; 
}
.top{
	width: 100%;
	height: 180px;
	border: 1px solid red;
	background-image: url("cover.jfif");
	background-size: cover;
	text-align: center;
	color: white;
	font-size: 300%;
	padding-top: 80px;
}
.top:hover{
	font-size: 500%;
}
p { color :black;
    font-family: verdana;
     font-size: 15px;
     background-color:white;
	}
ul { color :black;
    font-family: verdana;
     font-size: 15px;}
