p { color :black;
    font-family: verdana;
     font-size: 40px;
     background-color:white;
	}
body{ font-size: 40px;
       font-family: verdana;
      color:black;
       background-color: cornflowerblue;
    }