 li{
	float:left;
}
ul{
	list-style-type: none;
	background-color: rgb(9, 9, 94);
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}
.top{
	width: 100%;
	height: 180px;
	border: 1px solid red;
	background-image: url("cover.jfif");
	background-size: cover;
	text-align: center;
	color: white;
	font-size: 300%;
	padding-top: 80px;
}
.top:hover{
	font-size: 500%;
}
li a{
  text-decoration: none;
  padding: 15px 18px; 
  color: rgb(211, 219, 215);
  display: block;

}
 .logo{
 	background-color: dark rgb(126, 27, 44);
 	padding: 15px;
 	margin: 0px;
 	text-align: center;
 	border-radius: 130px;
    color:blue;
}
.logo1{
	padding: 15px;
 	margin: 0px;

}
p { color :black;
    font-family: verdana;
     font-size: 160;
	}